body {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    /* Start color (dark blue) at 0% */ rgb(93, 98, 111) 100%
      /* End color (lighter grayish-blue) at 100% */
  );
  text-align: center; /* Aligns text content to the center horizontally */
}
.title-monster{
display: flex;
justify-content: center;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 50px;
  color: rgb(82, 217, 210);
 
}
